* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    /* background: #155263; */
    background-color: #405c71;
    /* background-color: #557b97; */
    /* background-color: #113f67; */
    margin: 280px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #f97c15;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #393e46;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 1px dashed #f97c15;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: #f97c15;
    font-size: 17px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #f97c15;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 16px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #f97c15;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    visibility: visible;
}

ul li.checked {
    color: #f9a351;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url("images/checked.png");
    
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #f97c15;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #393e46;
    border: 1px dashed #f97c15;
}